{% extends 'layout.html' %}

{% block title %}
    {{ service.name }}
{% endblock %}

{% block body %}
    <div class="text-center">
        <a href="{% url 'main'%}">Back to list</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <img src="http://placehold.it/400x200" class="center-block">
            </div>
            <div class="col-xs-5 text-center">
                <h2>
                    {{ service.name }}
                </h2>
                <p>Price: {{ service.price }}</p>
                <h4>{{ service.description }}</h4>
            </div>
        </div>
    </div>

{% endblock %}